<DATA_PROVIDER>
    <ID>DEFAULT_DATA</ID>
    <DATA_STORE_TYPE>SQL_SERVER</DATA_STORE_TYPE>
    <CONN_STR>Data Source=vmsql2016dev;Initial Catalog=RETEAC;Persist Security Info=True;User ID=RETEAC;Password=reteac</CONN_STR>
    <SCHEMA>RETEAC</SCHEMA>
    <SDE_DEFAULT_VERSION>SDE.DEFAULT</SDE_DEFAULT_VERSION>
    <SRID>25832</SRID>
    <DATA_ACCESS_UTILS_TYPE>WMSDataAccessUtils.WMSDataAccessUtils, WMSDataAccessUtils</DATA_ACCESS_UTILS_TYPE>
    <ID_FIELD>IDGIS</ID_FIELD>
    <ID_FIELD_PREFIX_LENGTH>3</ID_FIELD_PREFIX_LENGTH>
    <ID_FIELD_LENGTH>20</ID_FIELD_LENGTH>
    <SHAPE_FIELD>SHAPE</SHAPE_FIELD>
    <SPATIAL_INDEX_BOUNDING_BOX>540000;790000;4600000;4950000</SPATIAL_INDEX_BOUNDING_BOX>
    <VARCHAR_PARAM>varchar</VARCHAR_PARAM>
</DATA_PROVIDER>